@page
@model FlightBookingFinal.Pages.BookingUsers.IndexModel
@{
}
<br />
<h2>LIST OF USERS</h2>
<a class='btn btn-primary btn-sm' href='/BookingUsers/Create'>New User</a>
<table class=" table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>Role</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listUsers)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.username</td>
                <td>@item.pasword</td>
                <td>@item.email</td>
                <td>@item.role</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/BookkingUsers/Edit?id=@item.id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
